{{!-- {{#each books}}
  <h3>{{ title }}</h3>
  <section>{{ type }}</section>
{{/each}} --}}


{{#each books}}
	<div class="{{booktypes}} row">
		<div class="col-md-7">
			<h2>{{ title }} </h2>
			<h3>by {{ author }}</h3>
			<p>{{synopsis}}</p>
		</div>
	  <div class="col-md-5">
	  	<h4>{{type}}</h4>
	  	<h4>{{publisher}}</h4>
	  	<h4>{{year}}</h4>
	  </div>
	</div>
{{/each}}